/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 jun. 2024, 00:28:04
    Author     : ESTUDIANTE
*/
/* 
    Home
*/
.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-ucr{
    max-width:30%;
    height: auto;
    margin-right: 10px;
}
.logo-sede{
    max-width:30%;
    height: auto;
    margin-right: 10px;
}
.logo-carrera{
    max-width:40%;
    height: auto;
    margin-right: 10px;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #dbe9f5;
}
.custom-header{
    background-color: #005da4;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

}
nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: #333;
    padding: 30px 30px;
    backdrop-filter: blur(10px);
    transition: background-color 0.3s;
}


nav a {

    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 2rem;
    position: relative;
    transition: color 0.3s,transform 0.3s;
    padding: 0 10px;
    border-right: 1px solid white;
}

nav a:hover {
    color: #ffd700;
    transform: scale(1.2);
}
nav a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #ffd700;
    transition: width 0.3s ease, background-color 0.3s ease;
}

nav a:hover::after {
    width: 100%;
    left: 0;
    background: #ffd700;
}

.MenuIteam{
    position:relative; 
}

.subMenu{
    display: none; 
    position: absolute; 
    top: 100%; 
    left:0; 
    background-color: #45a049; 
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.subMenu li{
    border-top: 1px solid white;
}
.subMenu li a {
    font-size: 20px; 
    color: white; 
    padding: 10px; 
    display: block; 
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s; 
    border-right: none;
    
}
.subMenu li a:hover{
    color: #ffd700;
    background-color: #444; 
    transform: none;
}
.MenuIteam.show.subMenu{
    display: block; 
}

.Description-simposio{
    font-family: Arial, sans-serif; 
    font-size: 30px; 
    color: #333; 
    line-height:1.5; 
    margin-bottom: 10px; 
    padding: 10px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px 0;

}
.background-section{
    background-image: url("../Images/Edificio principal.png");
    height: 80vh;
    padding: 20px;
    animation: change-image 30s infinite;
    width: 100%;
    background-size: cover;
}

@keyframes change-image{
    0%{
        background-image: url("../Images/Barco.png")
    }
    20%{
        background-image: url("../Images/La bomba.png")
    }
    40%{
        background-image: url("../Images/Letrero.png")
    }
    60%{
        background-image: url("../Images/Barco.png")
    }
    80%{
        background-image: url("../Images/Letrero.png")
    }
    100%{
        background-image: url("../Images/ClubCentro.png")
    }

}

.titulo-container {
    text-align: center;
    background: #ccc;
    padding: 20px 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-out;
}

.titulo {
    font-size: 1.5em;
    color: #000000;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.488);
    display: flex;
    align-items: baseline;
    justify-content: center;
}


.titulo-grande {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    margin-right: 10px;
}


.titulo-elegante {
    font-family: 'Playfair Display', serif;
    font-size: 1.9em;
}

@keyframes mover-izquierda-derecha{
from{
    transform:translateX(-90px);
}
to{
    transform: translateX(35px);
}

}
@keyframes mover-izquierda-derecha-activities{
from{
    transform:translateX(-300px);
}
to{
    transform: translateX(900px);
}

}

@keyframes mover-derecha-izquierda{
    from{
        transform: translateX(50px); 
        
    }
    to{
        transform: translateX(-25px);
    }
}

@keyframes mover{
from{
    transform:translateX(10px);
}
to{
    transform: translateX(40px);
}

}
.pharagraf{
    font-size:1.4rem;
    position: sticky;
    top: 10%;
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.pharagraf p {
     animation: mover 2s 1;
    animation-fill-mode: forwards;
}

.imagen{
  margin-left: 10%;
  width: 150%;
  height: 150%;
  border-radius: 8%;
  transform: translate(-15px, 0);
  transition: transform 1s ease-in-out;
  animation: mover-derecha-izquierda 2s 1;
    animation-fill-mode: forwards;
}
.description{
font-family: Arial, sans-serif; 
width: 80%;
height: 50vh;
margin: 0 auto;
position: relative;
}

.description h1{
    animation: mover-izquierda-derecha 2s 1;
    animation-fill-mode: forwards;
}
.activities{
    width: 100%; 
    height: 50%; 
    background-color: #000000; 
}

.activities h1{
     animation: mover-izquierda-derecha-activities 2s 1;
    animation-fill-mode: forwards;
    color: #f0f0f0; 
}

/* 
        Login
*/
.login-container input[type="password"] {
    display: flex;
    align-items: center;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 30px;
    border-radius: 20px;
    width:45% ;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-container button {
    margin-right: auto;
    width: 30%;
    padding: 10px;
    background-color: #f99d1c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.Title-Main{
    font-size: 48px;
}


body.registro{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #80a9ba;
}
.container2 {
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 2em;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5em;
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #005da4;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #333333;
}

input,select {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 1em;
}

button {
    padding: 10px;
    color: #ffffff;
    background-color: #005da4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #032e6e;
    color: #dbe9f5;
}

/* 
    REGISTRO
*/
.container3{

    margin: auto;
    overflow: hidden;
    padding: 2em;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    border-radius: 8px;
    max-width: 550px;
    width: 100%;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-field input:focus {
    outline: none;
    border-color: #007bff;
}

.input-field label {
    font-size: 16px;
    color: #333;

}

.forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.forget label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.forget label input[type="checkbox"] {
    margin-right: 5px;
}

.forget a {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.forget a:hover {
    text-decoration: underline;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.register {
    text-align: center;
    font-size: 16px;
    color: #333;
}

.register a {
    color: #007bff;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

/* 
    Mapa
*/

.container-map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

.mapa{
     max-width: 100%;
    height: auto;
     margin-right: 10px;
}

.Title-Map{
    animation: mover-izquierda-derecha 2s 1;
    animation-fill-mode: forwards;
}

.container{
    display: flex; 
    align-items: center; 
    justify-content: left; 
    height: 100%;
    width: 100%; 
    padding: 0 20px; 
}

.card-container{
    display: flex; 
    width: 600px; 
    height: auto; 
    background: #f0f0f0; 
    border-radius: 2px; 
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2); 
    margin-left:  150px; 
}

.header-card{
    padding: 20px; 
    text-align: center; 
}

.header-card a{
    position: relative; 
    display: block; 
    
}

.header-card img{
    box-shadow: 0 0 0 8px rgba(0, 0, 0, .06); 
    margin: 20px 30px; 
    transition: .2s; 
}

.header-card a:hover img{
    box-shadow: 0 0 0 12px rgba(0, 0, 0, .1); 
}

.description-card{
    position: relative; 
    
}

.description-card p{
    text-align: center; 
   margin: 150px auto 20px auto; 
    
}

@media(max-width:648px){
    .card-Club-Centro{
        display: block; 
        width: 450px; 
    }
    
    .header-Club{
        padding: 20px 20px 5px 20px; 
        border: none; 
    }
    
    .description{
        padding: 5px 20px 20px 20px; 
        background: transparent; 
    }
}
.carousel-container {
    display: flex;
    align-items: center;
    width: 90%; /* Adjusted to 90% for better responsiveness */
    max-width: 1200px; /* Added a max-width */
    overflow: hidden;
    position: relative;
    padding: 0 20px; /* Added padding to prevent content from touching the edges */
    box-sizing: border-box;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.activity-card {
    perspective: 1000px;
    width: 800%;
    max-width: 300px;
    height: 300px;
    margin: 0 15px;
    flex-shrink: 0;
    position: relative;
}

.activity-card div {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card-front {
    background-color: #fff;
    transform: rotateY(0deg);
}

.card-back {
    background-color: #073565;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity-card:hover .card-front {
    transform: rotateY(-180deg);
}

.activity-card:hover .card-back {
    transform: rotateY(0deg);
}

.activity-card img {
    max-width: 100%;
    max-height: 100%;
    height: auto; /* Ensure images scale properly */
    width: auto; /* Ensure images scale properly */
}

.card-back h3,
.card-back p,
.card-back a {
    margin: 10px 0;
}

.card-back a {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #000000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.card-back a:hover {
    background-color: #ffdd57;
    color: #073565;
}

.carousel-button {
    background-color: #38d7ff;
    color: #fff;
    border: none;
    padding: 1%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

/* Nuevos estilos para la sección .activities y título animado */
.activities {
    width: 100%;
    height: 50%;
    background-color: #000000;
}

.activities h1 {
    animation: mover-izquierda-derecha-activities 2s 1;
    animation-fill-mode: forwards;
    color: #f0f0f0;
}

@keyframes mover-izquierda-derecha-activities {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(900px);
    }
}