/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 jun. 2024, 14:44:16
    Author     : ESTUDIANTE
*/

.container-map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mapa{
     max-width: 100%;
    height: auto;
}